* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background-color: white;
    height: 100vh;
}

.hide {
    display: none;
}

.theme {
    position: absolute;
    top: 6.4rem;
    right: 6.4rem;
    cursor: pointer;
}

#light {
    top: 6rem;
    right: 6rem;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}

span {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: clamp(10rem, 8rem + 5vw ,12.6rem);
    line-height: 14.8rem;
    color: #323238;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.controls {
    display: flex;
    gap: clamp(1.6rem, 1rem + 3vw ,4rem);
    margin-left: .5rem;
    margin-top: 1.6rem;
}

.sounds {
    margin-top: 5.8rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.sounds div {
    display: flex;
    gap: 3.2rem;
}

.sounds div:nth-child(1) {
    animation: topDown 1.5s;
}

.sounds div:nth-child(2) {
    animation: downTop 1.5s;
}

.card {
    background-color: #E1E1E6;
    border-radius: 24px;
    width: clamp(11rem, 9rem + 5vw ,13.8rem);
    height: clamp(13rem, 11rem + 5vw ,15.2rem);

    transition: transform .5s;
}

.card:hover {
    transform: scale(1.1);
}

.clicked svg path {
    fill: white;
}

.clicked {
    background-color: #02799D;
}

.clicked:hover {
    transform: scale(1);
}

.dark .timer .clock span {
    color: white;
}

.dark .controls button svg path {
    fill: #C4C4CC;
}

.dark .sounds .card {
    background-color: #29292E;
}

.dark .sounds .card svg path {
    fill: #C4C4CC;
}

.dark .sounds .clicked {
    background-color: #0A3442;
}

.dark .sounds .clicked svg path {
    fill: white;
}

body .dark {
    background-color: #121214;
}

@keyframes topDown {
    0% {
        transform: translateY(-35px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes downTop {
    0% {
        transform: translateY(35px);
    }
    100% {
        transform: translateY(0);
    }
}

@media (min-width: 800px) {
    main {
        flex-direction: row;
        gap: clamp(6rem, 10rem + 5vw ,19.2rem);
    }
    .sounds {
        margin: 0;
    }
}